<div class="app-block">
  <div class="wrapper app-header-wrapper">
    <h1 class="app-title">
      <app-lang
        [text]="[
          { lang: 'EN', text: 'GeoInformation' },
          { lang: 'RU', text: 'Геоинформация' },
        ]"
      [language]="currentLanguage"></app-lang>
    </h1>

    <mat-radio-group (change)="ChangeLanguage($event)">
      <mat-radio-button [checked]="true" value="RU">RU</mat-radio-button>
      <mat-radio-button value="EN">EN</mat-radio-button>
    </mat-radio-group>
  </div>

  <router-outlet>

  </router-outlet>

  <mat-expansion-panel class="exercise-panel">
    <mat-expansion-panel-header>
      <mat-panel-title> Тестовое задание </mat-panel-title>
      <mat-panel-description> Описание функционала который требуется реализовать в ходе решения текущей задачи </mat-panel-description>
    </mat-expansion-panel-header>

    <div>
      <p>Необходимо разработать веб-приложение с использованием Angular из двух страниц <br>(каждая страница должна открываться по-собственному url):</p>
      <p>Списка стран</p>

      <ul>Должен быть реализован следующий функционал:
        <li> <s>Получения списка стран по API (/v1/geo/countries) серверной пагинацией</s> </li>
        <li> <s>Отображение полученной информации в таблице</s> </li>
        <li>Фильтрация (поиск) по наименованию</li>
        <li>По нажатию на иконку перехода (в ячейке ID страны) открывать страницу городов с предустановленным фильтром по стране</li>
      </ul>

      <p>Списка городов</p>
      <ul>
        <li>Должен быть реализован следующий функционал:</li>
        <li>Получения списка стран по API (/v1/geo/cities) серверной пагинацией</li>
        <li>Отображение полученной информации в таблице</li>
        <li>Фильтрация по стране (select/dropdown) и наименованию (поиск)</li>
        <li>По клику на иконку просмотра - открывать в popup для отображения информации по городу</li>
        <li>По клику на иконку редактирования - открывать в popup для редактирования информации по городу</li>
      </ul>

      <p>Бонусом будет:</p>
      <ul>
        Валидация (для полей население, дата основания, долгота, широта, добавить валидацию на допустимые значения) и отображение ошибок на полях формы редактирования
        <li>Сортировка таблиц (Страны - Наименование, Код страны) (Города - Страна, Наименование, Регион, Население)</li>
        <li> <s>Выбор количества элементов в таблице</s> </li>
        <li>Отображение отредактированной информации (в таблице и popup-ах) в приоритете с полученной по API</li>
        <li>Локализация интерфейса (русский, английский)</li>
      </ul>
    </div>
  </mat-expansion-panel>
</div>
