<div class="main-navigation">
  <div class="main-navigation-wrapper">
    <a class="main-navigation-link" routerLink="/countries">
      <img class="main-navigation-logo" src="/assets/sprites/logotype.png" alt="Lancy Countries">
      <app-lang
        [text]="[
          { lang: 'EN', text: 'GeoInformation' },
          { lang: 'RU', text: 'Геоинформация' },
        ]"></app-lang>
    </a>

    <ul class="h-navbar">
      <li class="h-navbar-item"><a class="h-navbar-link" routerLink="/countries">Страны</a></li>
      <li class="h-navbar-item"><a class="h-navbar-link" routerLink="/cities">Города</a></li>
    </ul>

    <mat-radio-group (change)="ChangeLanguage($event)">
      <mat-radio-button [checked]="true" value="RU">RU</mat-radio-button>
      <mat-radio-button value="EN">EN</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<div class="app-block">
  <router-outlet></router-outlet>
  <div class="task-wrapper">
    <app-task></app-task>
  </div>
</div>
