/*
  1) APPLICATION STYLES
    1.1 GENERAL
    1.2 MAIN NAVIGATION

  2) MATERIAL RADIO BUTTONS
*/





/* -------------------- START APPLICATION STYLES (GENERAL) -------------------- */
.app-block
{
  max-width: 1200px;
  margin : 0 auto;
}
.wrapper
{
  padding: 25px 0;
}
.app-header-wrapper
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.app-title
{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.task-wrapper
{
  margin-top: 25px;
}
.app-block--expanded
{
  max-width: 95%;
}
/* -------------------- START APPLICATION STYLES (MAIN NAVIGATION) -------------------- */
.main-navigation
{
  background-color : #fff;
  box-shadow: 0 0 2px #222;
}

.main-navigation-wrapper
{
  padding: 10px 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.main-navigation-logo
{
  margin-right: 15px;
  height: 50px;
}

.h-navbar
{
  display: flex;
  list-style: none;
  align-items: center;
}

.h-navbar-item
{
  display: block;

  & ~ &
  {
    margin-left: 20px;
  }
}

.h-navbar-link, .main-navigation-link
{
  font-size: 1.1rem;
  text-transform: uppercase;
  display: block;
  color: #222;
  text-decoration: none;
  transition: .1s;
  position: relative;

  &::before
  {
    content: "";

    position: absolute;

  }

  &:hover &::before
  {

  }
}

.main-navigation-link
{
  font-size: 1.75rem;
  display: flex;
  align-items: center;
}
/* -------------------- END APPLICATION STYLES -------------------- */




/* -------------------- START MATERIAL RADIO BUTTONS -------------------- */
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
/* -------------------- END MATERIAL RADIO BUTTONS -------------------- */
