.countries-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions-group > button
{
  aspect-ratio: 1 / 1;
  margin: 5px 0;

  display: inline-flex;
  align-items: center;

  background : #fff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 3px #000;
  cursor : pointer;
  
  &~button
  {
    margin-left: 10px;
  }
  
  &:hover
  {
    background-color : #ddd;
  }
}
