.countries-header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions-group > button, .close-popup-button
{
  display: inline-flex;
  align-items: center;

  background : #fff;
  border: none;
  box-shadow: 0 0 3px #000;
  cursor : pointer;

  &~button
  {
    margin-left: 10px;
  }

  &:hover
  {
    background-color : #ddd;
  }
}

.actions-group > button
{
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  margin: 5px 0;
}

.close-popup-button
{
  border-radius: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.popup-footer
{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.info-row
{
  display: flex;
  justify-content: space-between;

  & ~ &
  {
    border-top: 1px solid #aaa;
    padding-top: 10px;
  }

  &-title
  {
    font-weight: 500;
    width : 50%;
  }
  &-value
  {
    width : 50%;
  }
}
